node_modules/
dist/
.env
.env.local
.env.*.local
*.log

*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
debug.keystore
.env
*.webp
*.mp4
node_modules/
__pycache__/
.venv/
